absl-py==1.0.0
aniso8601==9.0.1
anyio==3.3.0
apiai==1.2.3
argon2-cffi==21.1.0
asgiref==3.3.4
astunparse==1.6.3
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
cachetools==4.2.4
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.3
colorama==0.4.4
comtypes==1.1.11
convertdate==2.4.0
cv==1.0.0
cycler==0.10.0
Cython==0.29.28
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.2
Django-base==0.91
django-db==0.0.7
django-heroku==0.3.1
django-mathfilters==1.0.0
djangorestframework==3.12.4
docopt==0.6.2
entrypoints==0.3
ephem==4.1.3
Flask==2.0.3
Flask-RESTful==0.3.9
flatbuffers==2.0
future==0.18.2
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.42.0
gunicorn==20.1.0
h5py==3.6.0
hijri-converter==2.2.3
idna==3.2
importlib-metadata==4.8.2
infermedica-api==1.0.0
ipykernel==6.3.1
ipython==7.27.0
ipython-genutils==0.2.0
ipywidgets==7.6.4
itsdangerous==2.1.0
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.2
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-server==1.10.2
jupyterlab==3.1.10
jupyterlab-pygments==0.1.2
jupyterlab-server==2.7.2
jupyterlab-widgets==1.0.1
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
korean-lunar-calendar==0.2.1
libclang==12.0.0
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mistune==0.8.4
MouseInfo==0.1.3
nbclassic==0.3.1
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.7
notebook==6.4.3
numpy==1.21.2
oauthlib==3.1.1
opencv-contrib-python==4.5.4.60
opencv-python==4.5.4.60
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.2
pandocfilters==1.4.3
parso==0.8.2
pickleshare==0.7.5
Pillow==8.3.2
pipreqs==0.4.11
playsound==1.3.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.19.1
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycparser==2.20
pygame==2.1.2
PyGetWindow==0.0.9
Pygments==2.10.0
PyMeeus==0.5.11
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.18.0
PyScreeze==0.1.28
python-dateutil==2.8.2
python-decouple==3.4
python-dotenv==0.17.1
pyttsx3==2.90
pytweening==1.0.4
pytz==2021.1
pywin32==301
pywinpty==1.1.4
pyzmq==22.2.1
qtconsole==5.1.1
QtPy==1.11.0
regex==2022.1.18
requests==2.26.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rsa==4.8
scikit-learn==0.24.2
scipy==1.7.1
selenium==3.141.0
Send2Trash==1.8.0
setuptools-git==1.2
six==1.16.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.3.1
sqlparse==0.4.1
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
terminado==0.11.1
testpath==0.5.0
threadpoolctl==2.2.0
torch==1.10.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
typing_extensions==4.0.1
urllib3==1.26.4
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.2
whitenoise==5.2.0
widgetsnbextension==3.5.1
wikipedia==1.4.0
wrapt==1.13.3
yarg==0.1.9
zipp==3.6.0
